body {
    margin: 0;
    padding: 0;
    border: none;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #CCC;
    padding: 30px;
}

h1 {
    margin-top: 12px;
    text-align: center;
}

p {
    color: #333;
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}