body {
    background-color: #CCC;
}

#banner {
    width: 100%;
}

h1 {
    margin-top: 12px;
    text-align: center;
}

p {
    color: #333;
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}